*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    
}
.container {
    padding: 20px 160px;
    background-color: #133287;
    height: 350px;
}
header {
    color: white;
    height: 50px;
}

.container header .navbar .nav-links > ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}
.container header .navbar .nav-links > ul > li > a {
    color: #ffffff;

}
.container header .navbar .logo {
    font-size: 48px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: rgb(138, 28, 28);
    text-decoration: none;
    margin-right: 15px;
    font-size: medium;   
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;  
}

.nav-links .button {
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    color: #000 !important;
}
.container .catagaries >ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;    
    margin-top: 40px;

    
}
.container .catagaries >ul >li >a {
    color: #ffffff;
    margin: 5px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    font-size: 12px;
}


.search-section {
    padding: 20px 160px;
    margin-top: -115px;
    color: #ffffff;
    
}
.search-section .heading >h1 {
    font-size: 40px;
}
.search-section .heading >p {
    margin-top: 12px;
}

.search-bar input, .search-bar button {
    margin: 5px;
    padding: 10px;
    border: 2px solid #ffb006;
}

.search-bar button {
    color: #ffffff;
    background-color: #133287;
}

.offers-section {
    padding: 20px 160px;
}

.offers-section .offer >button {
    background-color: #0044ff;
    color: #ffffff;
    margin: 25px;
}
 
.offers-section .offer {
    color: #ffffff;
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size:  cover; 
    border-radius: 20px;
    background-clip: content-box;
}
.offers-section .offer >p {
    margin-top: 25px;
    margin-left: 20px;
}
.offers-section .offer >p strong {
    margin-left: 5px;

}


.property-types{
    padding: 20px 160px;
} 




.destinations {
    padding: 20px 160px;
} 
.unique-properties {
    padding: 20px 160px;
}

.types, .destinations-list, .properties {
    display: flex;
    gap: 10px;
}
.homes-guest {
padding: 20px 160px;

}