@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,230;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,230;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    
}
.container {
    padding: 20px 230px;
    background-color: rgb(11 62 151);
    height: 385px;
}
header {
    color: white;
    height: 50px;
}

.container header .navbar .nav-links > ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}
.container header .navbar .nav-links > ul > li > a {
    color: #ffffff;
    

}
.container header .navbar .logo {
    font-size: 30px;
    font-weight: bold;
}
.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    
    text-decoration: none;
    margin-right: 15px;
    font-size: medium;   
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;  
}

.nav-links .button {
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    color: #000 !important;
}
.container .catagaries >ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;    
    margin-top: 40px;

    
}
.container .catagaries >ul >li >a:hover {
   
    margin: 5px;
    padding: 10px;
    border: 3px solid #ffffff;
    border-radius: 20px;
    font-size: 12px;
}

.container .catagaries >ul >li >a.button {
    color: #ffffff;
    text-decoration: none;
}







.search-section {
    padding: 20px 230px;
    margin-top: -165px;
    color: #ffffff;
    
}
.search-section .search-bar {
    padding-top: 10px;
}




.search-section .heading >h1 {
    font-size: 50px;
}
.search-section .heading >p {
    margin-top: 12px;
}

.search-bar input, .search-bar button {
    margin: 5px;
    padding: 10px;
    border: 2px solid #ffb006;
}

.search-bar button {
    color: #ffffff;
    background-color: #133287;
    font-size: 30px;
}

.search-section .search-bar >input {
    font-size: 30px;
    width: 400px;
}






.offers-section {
    padding: 20px 230px;
}

.offers-section .offer >button {
    background-color: #0044ff;
    color: #ffffff;
    margin: 25px;
}
 
.offers-section .offer {
    color: #ffffff;
    background-image: url("main.jpg");
    background-repeat: no-repeat;
    background-size:  cover; 
    border-radius: 20px;
    background-clip: content-box;
    padding-top: 4px;
    object-fit: cover;
}
.offers-section .offer >p {
    margin-top: 15px;
    margin-left: 15px;
}
.offers-section .offer >p strong {
    margin-left: 5px;

}




.property-types #types {
    display: flex;
    text-align: center;
    padding-top: 20px;
   
}





.property-types {
    margin: auto;
    overflow-x: auto; 
    justify-content: center; 
    width:75%;
}


.property-types #types .hotels img {
    border-radius: 15px;
    width: 300px;
}
.property-types #types .apartments img {
    border-radius: 15px;
    width: 300px;

}

.property-types #types .resorts img {
    border-radius: 15px;
    width: 300px;

}

.property-types #types .resturants img {
    border-radius: 15px;
    width: 300px;  
    height: 200px;
    object-fit: cover; 
}

#types img{
padding:3px;
}

.destinations .destinations-list .islamabad >img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
.destinations .destinations-list .lahore >img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
.destinations .destinations-list .murree >img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.destinations .destinations-list .karachi >img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
}





.destinations {
    padding: 20px 230px;
    
    width: 100%;
} 
.unique-properties {
    padding: 20px 230px;
}

.destinations-list {
    display: flex;
    gap: 0.3rem;
    text-align: center;
    overflow: auto;
}
.homes-guest {
padding: 20px 230px;

}